/*BEGIN Fight Stick Controller Styling*/
.controller.ds4 {
    background: url(Pearl.png) center no-repeat;
    height: 885px;
    width: 1658px;
}

.ds4.disconnected {
    background: url(stick-assets/disconnected.svg) no-repeat;
}

.ds4.disconnected div {
    display: none;
}

.ds4 .triggers {
    width: 326px;
    height: 198px;
    position: absolute;
    right: 150px;
    bottom: 66px;
}

.ds4 .trigger-button {
    width: 123px;
    height: 123px;
    border-radius: 100%;
    opacity: 1;
    display: block;
}

.ds4 .trigger-button.pressed {
    transform: translateY(5px);
    -webkit-filter: brightness(0.5);
}

.ds4 .trigger-button.left {
    position: absolute;
    float: right;
    bottom: 262px;
    right: 195px;
    background: url(greenbtn.png) center no-repeat;
}

.ds4 .trigger-button.right {
    float: left;
    background: url(yellowbtn.png) center no-repeat;
    position: absolute;
    bottom: 312px;
    right: 306px;
}

.ds4 .bumpers {
    width: 295px;
    height: 198px;
    position: absolute;
    right: 150px;
    top: 88px;
}

.ds4 .bumper {
    width: 123px;
    height: 123px;
    background: url(yellowbtn.png) center no-repeat;
    border-radius: 100%;
    opacity: 1;
    display: block;
}

.ds4 .bumper.pressed {
    transform: translateY(5px);
    -webkit-filter: brightness(0.5);
}

.ds4 .bumper.left {
    position: absolute;
    float: right;
    top: 213px;
    right: 179px;
}

.ds4 .bumper.right {
    float: left;
    background: url(greenbtn.png) center no-repeat;
    position: absolute;
    top: 162px;
    right: 296px;
}

.ds4 .quadrant {
    position: absolute;
    font-family: "Press Start 2P";
    font-size: 28px;
    font-weight: normal;
    top: 20px;
    left: 236px;
    color: white;
}

.ds4 .p0:after {
    content: "Player 1";
    display: none;
}

.ds4 .p1:after {
    content: "Player 2";
}

.ds4 .p2:after {
    content: "Player 3";
}

.ds4 .p3:after {
    content: "Player 4";
}

.ds4 .arrows {
    position: absolute;
    width: 70px;
    height: 217px;
    top: 53px;
    left: 49px;
}

.ds4 .back, .ds4 .start {
    width: 70px;
    height: 70px;
    background: url(startselect.png) center no-repeat;
    display: block;
    border-radius: 100%;
}

.ds4 .back {
    float: left;
    position: absolute;
    bottom: 98px;
    left: 889px;
}

.ds4 .start {
    position: absolute;
    bottom: 98px;
    left: 1170px;
}

.ds4 .back.pressed, .ds4 .start.pressed {
    transform: translateY(0px);
    -webkit-filter: invert(1);
}

.ds4 .abxy {
    position: absolute;
    width: 310px;
    height: 370px;
    bottom: 103px;
    left: 472px;
}

.ds4 .button {
    width: 123px;
    height: 123px;
    border-radius: 100%;
    opacity: 1;
    display: block;
    position: absolute;
}

.ds4 .button.pressed {
    transform: translateY(5px);
    -webkit-filter: brightness(0.5);
}

.ds4 .a {
    bottom: 248px;
    left: 370px;
    background: url(yellowbtn.png) center no-repeat;
}

.ds4 .b {
    bottom: 292px;
    right: -297px;
    background: url(greenbtn.png) center no-repeat;
}

.ds4 .x {
    top: -135px;
    left: 382px;
    background: url(greenbtn.png) center no-repeat;
}

.ds4 .y {
    position: absolute;
    left: 495px;
    top: -177px;
    background: url(yellowbtn.png) center no-repeat;
}

.ds4 .fstick {
    position: absolute;
    width: 221px;
    height: 221px;
    top: 199px;
    left: 192px;
    background: url(stick.png)
}

.ds4 .fstick.up {
    background-position-x: -1762px;
}

.ds4 .fstick.down {
    background-position-x: -882px;
}

.ds4 .fstick.left {
    background-position-x: -1322px;
}

.ds4 .fstick.right {
    background-position-x: -442px;
}

.ds4 .fstick.up.right {
    background-position-x: -222px;
}

.ds4 .fstick.up.left {
    background-position-x: -1542px;
}

.ds4 .fstick.down.right {
    background-position-x: -662px;
}

.ds4 .fstick.down.left {
    background-position-x: -1102px;
}

/*END Fight Stick Controller Styling*/
